:root {
  --main-bg-color: #282a36;
  --text-color: #f8f8f2;
  --lighter-gray: #44475a;
  --purple-gray: #6272a4;
  --cyan: #8be9fd;
  --purple: #bd93f9;
}

html,
body {
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
}

button {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.main-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calculator-main {
  height: 500px;
  width: 400px;
  background-color: var(--lighter-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.main-calclator-buttons {
  display: flex;
}

.numeric-buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.operator-buttons {
  display: grid;
  gap: 10px;
  margin-left: 10px;
  grid-template-columns: 1fr;
}

.operator-input,
.number-input {
  height: 50px;
  width: 60px;
}

.calculation-output {
  background-color: var(--cyan);
  height: 80px;
  width: 100%;
}

.calculation-input {
  background-color: blue;
  height: 50px;
  width: 100%;
  margin-bottom: auto;
  text-align: right;
}